#map {
    height: 658px;
    width: 100%;
}

#event-content {
    height: 600px;
    overflow-y: scroll;
}

#chat-display {
    height: 300px;
    overflow-y: scroll;
}

#chat-name-box {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.event-card-image {
    width:200px;
}

.chat-pin-toggle {
    height:75px;
    position: absolute;
    bottom: 10px;
    right: 35px;
}

body{
    overflow-x:hidden;
    background-image: url("../images/flag-background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 100px;
}

.hidden {
    display:none;
}

.event-card-body {
    height: 200px;
    overflow-y: hidden;
}

.active-event-card-body {
    height: 400px !important;
    overflow-y: scroll !important;

}

.event-card-header {
    background-color: #00239b;
}

.event-display-header, #chat-header {
    background-color: #ca0202;
}

#page-header {
    background-color: #eee;
    border-bottom: solid;
    border-bottom-color: #ca0202;
    border-bottom-width: 7px;
}

#moveme-body {
    background-color: rgba(200, 200, 200, .9);
}