#event-content {
    height: 400px;
    overflow-y: scroll;
}

#chat-display {
    height: 300px;
    overflow-y: scroll;
}

.event-card-image {
    width:200px;
}

.chat-pin-toggle {
    height:75px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.hidden {
    display:none;
}

#google-map {
    height: 400px;
    width: 100%;
}