#google-map {
    height: 658px;
    width: 100%;
}

#event-content {
    height: 600px;
    overflow-y: scroll;
}

#chat-display {
    height: 300px;
    overflow-y: scroll;
}

#chat-name-box {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.event-card-image {
    width:200px;
}

.chat-pin-toggle {
    height:75px;
    position: absolute;
    bottom: 10px;
    right: 35px;
}

body{
    overflow-x:hidden;
}

.hidden {
    display:none;
}

.event-card-body {
    height: 200px;
    overflow-y: hidden;
}

.active-event-card-body {
    height: 400px !important;
    overflow-y: scroll !important;

}