body{
    overflow-x:hidden;
    background-image: url("../images/flag-background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 100px;
}

#page-header {
    background-color: #fff;
    border-bottom: solid;
    border-bottom-color: #ca0202;
    border-bottom-width: 7px;
}

#moveme-logo {
    height: 220px;
}

.move-style {
    color: #00239b;
    font-weight: bold;
}

.me-style {
    color: #ca0202;
    font-style: italic;
}

#moveme-loading {
    height: 350px;
}

#loading-message{

}

#loading-gif {
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 200px;
}

#moveme-body {
    background-color: rgba(200, 200, 200, .9);
}

#map {
    height: 658px;
    width: 100%;
}

.event-display-header, #chat-header {
    background-color: #ca0202;
}

#event-content {
    height: 600px;
    overflow-y: scroll;
}

.event-card-header {
    background-color: #00239b;
}

.event-card-icon {
    height: 25px;
    padding-right: 10px;
}

.event-card-body {
    height: 200px;
    overflow-y: hidden;
}

.active-event-card-body {
    height: 400px !important;
    overflow-y: scroll !important;
}

.hidden {
    display:none;
}

.event-card-image {
    width:200px;
    margin-right: 15px;
    margin-bottom: 15px;
    border: outset;
    border-color: #ccc;
    border-width: 3px;
}

.event-card-content {
    width: auto; 
    overflow: hidden; 
}

.chat-pin-toggle {
    height:75px;
    position: absolute;
    bottom: 0px;
    right: 17px;
}

#chat-display {
    height: 300px;
    overflow-y: scroll;
}

#chat-name-box {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}




